---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2>Past Collaborations</h2>
<ul>
	<li><object data='/images/niehs-logo.svg' width='auto' height='50'> </object></li>
	<li><object data='/images/chop-logo.svg' width='auto' height='50'> </object></li>
	<li><object data='/images/penn-logo.svg' width='auto' height='50'> </object></li>
	<li><object data='/images/merck-logo.svg' width='auto' height='50'> </object></li>
	<li><object data='/images/uw-logo.svg' width='auto' height='50'> </object></li>
	<li><object data='/images/fredhutch-logo.svg' width='auto' height='50'> </object></li>
	<li><object data='/images/biogen-logo.svg' width='auto' height='50'> </object></li>
	<li><img src='/images/nstg-logo.png' width='auto' height='50'> </object></li>
</ul>

<h2>Select Projects</h2>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


Contact us: contact@ezstatconsulting.com