---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<h2>Past Collaborations and Experience</h2>
<object data='/images/niehs-logo.svg' width='auto' height='15'> </object>
<br>
<object data='/images/chop-logo.svg' width='auto' height='15'> </object>
<br>
<object data='/images/penn-logo.svg' width='auto' height='15'> </object>
<br>
<object data='/images/merck-logo.svg' width='auto' height='15'> </object>
<br>
<object data='/images/uw-logo.svg' width='auto' height='15'> </object>
<br>
<object data='/images/fredhutch-logo.svg' width='auto' height='15'> </object>
<br>
<object data='/images/biogen-logo.svg' width='auto' height='15'> </object>
<br>
<object data='/images/nstg-logo.svg' width='auto' height='15'> </object>

<h2>Select Projects</h2>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}


Contact us: contact@ezstatconsulting.com